<div th:fragment="list" >
    <div class="sidebar-sticky" >
        <a class="list-group-item list-group-item-action active " href="/useraccount">Список клиентов</a>
        <a class="list-group-item list-group-item-action" href="/services">Услуги</a>
        <a class="list-group-item list-group-item-action" href="/therpy">Лекарства</a>
        <a class="list-group-item list-group-item-action" href="/personal" >Наши специалисты</a>
        <a class="list-group-item list-group-item-action" href="/history">История болезни</a>
    </div>
</div>

